## Ноутбук с решением первой части ДЗ

In [1]:
import pandas as pd

In [70]:
!ls ./data_hw

HW_test_additional_data.csv   HW_train_main_data.csv
HW_test_main_data.csv	      submission_example_2_1.txt
HW_train_additional_data.csv  submission_example_2_2.csv

In [71]:
# считаем данные в соответствующие датафреймы

train_main_df = pd.read_csv('./data_hw/HW_train_main_data.csv')

In [4]:
train_main_df.head()

,id,timestamp,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,apartment condition,sub_area,price
0,30392,2014-12-30,60,36.0,6.0,9.0,1.0,1974.0,3.0,5.0,3.0,9,9711800.0
1,36540,2013-06-28,44,29.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,19,6643200.0
2,94669,2013-09-15,62,60.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,80,5698300.0
3,17531,2013-12-13,33,18.0,4.0,9.0,1.0,1970.0,1.0,6.0,2.0,15,5055000.0
4,32159,2014-02-13,37,14.0,1.0,17.0,1.0,1991.0,1.0,1.0,2.0,74,5425000.0

## task 0

In [49]:
top10_price = train_main_df.sort_values(by='price', ascending=False).iloc[:10]['id'].values.tolist()

## task 1

In [7]:
train_main_df['timestamp'] = pd.to_datetime(train_main_df['timestamp'])

In [24]:
train_main_df['year'] = train_main_df['timestamp'].dt.year
train_main_df['month'] = train_main_df['timestamp'].dt.month
train_main_df['year_month'] = train_main_df['year'].astype(str) + '_' + train_main_df['month'].astype(str)

In [25]:
train_main_df['price_rank'] = train_main_df.groupby('year_month')['price'].rank(method="first", ascending=False)

In [31]:
ind_with_max_price = train_main_df[train_main_df['price_rank'] == 1].sort_values(by=['year', 'month']).index.tolist()

## task 2

In [43]:
top5_big = train_main_df.sort_values(by='full_sq', ascending=False).iloc[:5]['id'].values.tolist()

## task 3

In [46]:
life_sq_nan_cnt = train_main_df['life_sq'].isna().sum()

6065

In [54]:
life_sq_mean = train_main_df['life_sq'].mean()  # можно также попробовать средним за конкретный месяц

In [55]:
train_main_df['life_sq'] = train_main_df['life_sq'].fillna(life_sq_mean)

## task 4

Сохранить коэффициенты корреляции Пирсона между (price, full_sq) и (price, life_sq без пропусков).

In [63]:
corr = train_main_df[['price', 'full_sq', 'life_sq']].corr().iloc[0, 1:].values.tolist()

In [69]:
with open('./part1.csv', 'w') as f:
    f.write(', '.join(map(str, top10_price)))
    f.write('\n')
    f.write(', '.join(map(str, ind_with_max_price)))
    f.write('\n')
    f.write(', '.join(map(str, top5_big)))
    f.write('\n')
    f.write(str(life_sq_nan_cnt))
    f.write('\n')
    f.write(', '.join(map(str, corr)))