In [1]:
import pandas as pd
import numpy as np

In [2]:
users = pd.read_csv('data/df_users.csv')
sales = pd.read_csv('data/df_sales.csv')

Вам доступны два файла (срез данных, аналогичный тем, что будут в боевом задании, но на несколько порядков меньше в своем размере), на которых вы можете проверить работоспособность своего кода

> `users`, который может быть получен с помощью команды <br>
> ```df_users = pd.read_csv(os.environ['PATH_DF_USERS'])```

> `sales`, который может быть получен с помощью команды <br>
> ```df_sales = pd.read_csv(os.environ['PATH_DF_SALES'])```

Давайте рассмотрим их отдельно

> Файл `users` хранит в себе информацию о пользователях. В файле присутствет три колонки

> `user_id` – идентификатор пользователя <br>
> `gender` – пол пользователя <br>
> `age` – возраст пользователя

> Например, пользователь с идентификатором `2481878` имеет пол `0`, причем ему `26` лет. Все пользователи в таблице уникальны

In [3]:
users.head(3)

   user_id  gender  age
0  2481878       0   26
1  5939953       1   21
2  6805236       0   23

> Файл `sales` хранит информацию о покупках пользователей. В файле `sales` присутствет три колонки

> `user_id` – идентификатор пользователя <br>
> `day` – день, в который была совершена покупка пользователя <br>
> `sales` – сумма транзакции, которую совершил пользователь `user_id` в `day`

> Например, пользователь с идентификатором `4137940` в день `39` совершил покупку на `276` рублей

In [4]:
sales.head(3)

   user_id  day  sales
0  4137940   39    276
1  3692244    5     30
2  3527743   32    363

> файлы `users` и `sales` имеют общий ключ `user_id`